<div class="row">
  <div class="bg">
    <table class="table table-striped table-dark hornalista">
      <thead class="thead-dark">
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Log in date</th>
          <th scope="col">Number of Clicks</th>
          <th scope="col">Number of Characters in chat</th>
          <th scope="col">
            <button
              type="button"
              class="btn btn-danger hornybutton"
              (click)="logOut()"
            >
              Log Out
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ loggedInUser.firstName }}</td>
          <td>{{ loggedInUser.lastName }}</td>
          <td>{{ loggedInUser.email }}</td>
          <td>{{ loginCas | date : "medium" }}</td>
          <td>{{ clickCounter }}</td>
          <td>{{letterCount}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <div class="container toss">
      <div class="row mw-100">
        <div class="col">
          <ng-container *ngFor="let user of users">
            <div
              *ngIf="user.id !== loggedInUser.id"
              class="toskovv"
              (click)="selectUser(user); Genderize(); Zippovanie()"
            >
              {{ user.firstName }} {{ user.lastName }} {{ user.email }}<br />
              <button
                *ngIf="selectedUser === user"
                (click)="showDetails(user)"
                class="btnko"
              >
                {{
                  showndetails && showndetailsUser === user
                    ? "Hide details"
                    : "View details"
                }}
              </button>

              <button
                *ngIf="selectedUser === user"
                (click)="startChatWithUser(selectedUser)"
                class="btnko"
              >
                Start Chat
              </button>
            </div>
          </ng-container>
        </div>
        <div class="col">
          <div *ngIf="showndetails && selectedUser === showndetailsUser">
            <div class="detailyUzivatela">
              <p><img class="userimage" src="{{ selectedUser?.image }}" /></p>
              <h2>
                {{ selectedUser?.firstName }} {{ selectedUser?.lastName }}
              </h2>
              <p>Username: {{ selectedUser?.username }}</p>
              <p>Birthdate: {{ selectedUser?.birthDate }}</p>
              <p>Eyecolor: {{ selectedUser?.eyeColor }}</p>
              <p>University: {{ selectedUser?.university }}</p>
              <p>MacAdress: {{ selectedUser?.macAddress }}</p>
              <p>IP: {{ selectedUser?.ip }}</p>
              <p>City: {{ selectedUser?.address?.city }}</p>
              <p>Gender: {{ genderData?.gender }}</p>
              <p>Gender propability: {{ genderData?.probability }}</p>
              <p>Country: {{ ZippoData?.post_code }}</p>
              <p>State: {{ ZippoData?.country }}</p>
            </div>
          </div>
          <div *ngIf="!showndetails || selectedUser !== showndetailsUser">
            <div class="chatHistorydiv">
              <div>
                <h2>Chat History</h2>
                <div *ngFor="let session of getChatSessions(); let i = index">
                  <div *ngFor="let chat of session; let last = last">
                    <!-- Check if it's the last message in the session -->
                    <ng-container *ngIf="last">
                      <!-- Check if the message is sent by the current user -->
                      <ng-container *ngIf="chat[0].user.id === loggedInUser.id">
                        <!-- Display the updated message -->
                        <p>Updated Message to {{ chat[0].user.firstName }}: {{ chat[0].message }}</p>
                      </ng-container>
                      <!-- Check if the message is received by the current user -->
                      <ng-container *ngIf="chat[0].user.id !== loggedInUser.id">
                        <!-- Display the received message -->
                        <p>Received Message from {{ chat[0].user.firstName }}: {{ chat[0].message }}</p>
                      </ng-container>
                    </ng-container>
                    <!-- Add a separator between updated messages -->
                    
                  </div>
                </div>
                
                
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="chatBox">
            <div class="chat-window" style="width: 100%;"  *ngIf="selectedUser">
              <div class="chat-history">
                <ng-container
                  *ngFor="
                    let chatSession of chatHistory[selectedUser?.id ?? '']
                  "
                >
                  <ng-container *ngFor="let message of chatSession">
                    <div class="message-container">
                      <div
                        class="message"
                        [ngClass]="{
                          'user-message': message.user.id === selectedUser.id,
                          'response-message':
                            message.user.id !== selectedUser.id
                        }"
                      >
                        <div>{{ message.user.name }}</div>
                        <div>{{ message.sentAt | date : "medium" }}</div>
                        <div
                          [ngClass]="{
                            'user-message-content':
                              message.user.id === selectedUser.id,
                            'response-message-content':
                              message.user.id !== selectedUser.id
                          }"
                        >
                          {{ message.message }}
                        </div>
                      </div>
                    </div>
                      <div class="response-container">
                        <div class="response">
                          <div class="response-message">
                            {{ message.response }}
                          </div>
                        </div>
                      </div>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
          <div>
            <textarea #messageTextArea (input)="onInput()" id="messageTextArea" class="textareachat" [(ngModel)]="message" (keydown.enter)="sendMessage()" placeholder="Type your message..."></textarea>
            <button (click)="sendMessage()">Send</button>
          </div>
        </div>

        
      </div>
    </div>
  </div>
</div>
